body {
  height: 100%;
  margin:0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: hsl(240, 5.9%, 11%);
}

html {
  font-family: "Lookout";
  font-size: 24px;
  height: 100%;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Lookout';
  src: url('./fonts/Lookout\ 7.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}