body {
  height: 100%;
  margin:0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: hsl(240, 5.9%, 11%);
}

html {
  font-family: "Lookout";
  font-size: 32px;
  height: 100%;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Lookout';
  src: url('./fonts/Lookout\ 7.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Types */
.sl-badge::part(base) {
  display: flex;
  width: 72px;
  height: 24px;
  padding: 0px 8px 4px 8px;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 0px black;
  /* -webkit-text-stroke: 1px --sl-color-neutral-900; */
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.30);
}

.sl-badge.fighting::part(base) {
  background-color: #CB5F48;
}

.sl-badge.fire::part(base) {
  background-color: #FF3B1F;
}

.sl-badge.ground::part(base) {
  background-color: #D8B24B;
}

.sl-badge.rock::part(base) {
  background-color: #B3A05B;
}

.sl-badge.electric::part(base){
  background-color: #FFC52C;
}

.sl-badge.bug::part(base) {
  background-color: #A0B21E;
}

.sl-badge.grass::part(base) {
  background-color: #6CC54B;
}

.sl-badge.ice::part(base) {
  background-color: #6CD8FF;
}

.sl-badge.water::part(base) {
  background-color: #2D8FFF;
}

.sl-badge.flying::part(base) {
  background-color: #5B8FFF;
}

.sl-badge.dragon::part(base) {
  background-color: #6B5BEB;
}

.sl-badge.ghost::part(base) {
  background-color: #5B5BB3;
}

.sl-badge.poison::part(base) {
  background-color: #A04B8E;
}

.sl-badge.fairy::part(base) {
  background-color: #FFA0FF;
}

.sl-badge.psychic::part(base) {
  background-color: #FF4B8E;
}

.sl-badge.normal::part(base) {
  background-color: #BBA;
}

.sl-badge.steel::part(base) {
  background-color: #A0A0B3;
}

.sl-badge.dark::part(base) {
  background-color: #6C4B3C;
}

sl-avatar::part(base) {
  background-color: var(--sl-color-neutral-300);
}

.searchIcon {
  font-size: 16px !important;
  color: var(--sl-color-neutral-900);
  padding: 8px;
}

/* Primary Button ---------------------------------------- */
.sl-button.primary::part(base) {
  --sl-input-height-medium: 54px;
  background: var(--sl-color-primary-500 #6366f1);
  border: solid 2px var(--sl-color-primary-500 #6366f1);
  border-radius: 8px;
  color: var(--sl-color-neutral-900);
  text-shadow: 1px 1px 0px black;
  font-size: 40px;
  padding: 10px 16px 14px 16px;
  align-items: center;
  justify-content: center;
  font-family: Lookout;
  transition: var(--sl-transition-medium) transform ease, var(--sl-transition-medium) border ease;
}

.sl-button.primary::part(base):hover {
  background: black;
  transform: scale(1.05) rotate(-1deg);
}

.primaryButton::part(base):active {
  background: var(--sl-color-primary-400 #818cf8);
}

.sl-button.primary::part(base):focus-visible {
  box-shadow: 0 0 0 4px var(--sl-color-primary-300 #A5B4FC);
}

.sl-button.primary::part(label) {
  color: var(--sl-color-neutral-50 #FAFAFA);
}

/* https://shoelace.style/getting-started/customizing/#css-parts */
sl-input::part(base) {
  font-family: "Lookout";
  border-radius: 8px;
  border-width: 2px;
  padding: 8px;
  font-size: 32px;
}
