.main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* background-color: aqua; */
}

.title {
    /* background-color: pink; */
    margin-left: 16px;
}

.game {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    /* background-color: red; */
}

.list {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    height: 80vh;

}