.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--sl-color-neutral-100);
    flex-grow: 1;
}

.game > * {
    margin-left: 70px;
}

.game > :last-child {
    margin-left: 0px;
}

.game > sl-input {
    margin-bottom: 16px;
}

.teams {
    border-left: 2px solid var(--sl-color-neutral-300);
    overflow-y: scroll;
    max-height: 100vh;
    width: 25%;
}

.endgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
