.main {
    display: flex;
    flex-direction: row;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--sl-color-neutral-100);
}

.game > * {
    margin-left: 70px;
}

.game > :last-child {
    margin-left: 0px;
}

.game > sl-input {
    margin-bottom: 16px;
}
