.pfpContainer {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
    width: 640px;
    max-height: 300px;
    justify-content: center;
}

.pfp {
    padding: 2px;
}

.pfp:hover {
    background-color: red;
}

.selectedPfp {
    background-color: green;
}

.selectedPfp:hover {
    background-color: green;
}

.loginScreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* https://shoelace.style/getting-started/customizing/#css-parts */
.customInput::part(base) {
    border: 1px solid white;
    border-radius: 8px;
    padding: 16px;
}
