.pfp {
    padding: 2px;
}

.pfp:hover {
    background-color: red;
}

.selectedPfp {
    background-color: green;
}

.pfpDisplay {
    display: flex;
    flex-direction: row;
}

.pfpContainer {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px 12px;
}

.loginScreenContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    height: 100vh;
    max-width: 45%;
    margin: auto;
}

/* https://shoelace.style/getting-started/customizing/#css-parts */
.customInput::part(base) {
    /* border: 1px solid white; */
    /* border-radius: 8px; */
    /* padding: 16px; */
    /* font-family: "Lookout";
    text-align: center; */
    font-family: "Lookout";
    border-radius: 8px;
    border-width: 2px;
    padding: 8px;
    font-size: 32px;
}

.loginFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--sl-color-neutral-100);
    border: 2px solid var(--sl-color-neutral-900);
    border-radius: 8px;
    padding: 24px;
    margin: auto;
    margin-bottom: 24px;
    gap: 0px 24px;
}

.searchIcon {
    font-size: 16px !important;
    color: var(--sl-color-neutral-900);
    padding: 8px;
}

/* Primary Button ---------------------------------------- */
.sl-button.primary::part(base) {
    --sl-input-height-medium: 54px;
    background: var(--sl-color-primary-500 #6366f1);
    border: solid 2px var(--sl-color-primary-500 #6366f1);
    border-radius: 8px;
    color: var(--sl-color-neutral-900);
    text-shadow: 1px 1px 0px black;
    font-size: 40px;
    padding: 10px 16px 14px 16px;
    align-items: center;
    justify-content: center;
    font-family: Lookout;
    transition: var(--sl-transition-medium) transform ease, var(--sl-transition-medium) border ease;
}

.sl-button.primary::part(base):hover {
    background: black;
    transform: scale(1.05) rotate(-1deg);
}

.primaryButton::part(base):active {
    background: var(--sl-color-primary-400 #818cf8);
}

.sl-button.primary::part(base):focus-visible {
    box-shadow: 0 0 0 4px var(--sl-color-primary-300 #A5B4FC);
}

.sl-button.primary::part(label) {
    /* Is this neccessary? -cb */
    color: var(--sl-color-neutral-50 #FAFAFA);
}