.pfp {
    padding: 2px;
}

.pfp:hover {
    background-color: red;
}

.selectedPfp {
    background-color: green;
}

.pfpDisplay {
    display: flex;
    flex-direction: row;
    gap: 0px 16px;
    align-items: center;
}

.pfpContainer {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px 12px;
}

.loginScreenContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    height: 100vh;
    max-width: 45%;
    margin: auto;
}

/* https://shoelace.style/getting-started/customizing/#css-parts */
.customInput::part(base) {
    font-family: "Lookout";
    border-radius: 8px;
    border-width: 2px;
    padding: 8px;
    font-size: 32px;
}

.loginFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--sl-color-neutral-100);
    border: 2px solid var(--sl-color-neutral-900);
    border-radius: 8px;
    padding: 24px;
    margin: auto;
    margin-bottom: 24px;
    gap: 0px 24px;
}


