.team {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    justify-content: space-between;
    padding: 16px;
}

.playerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userTeam {
    background-color: var(--sl-color-primary-200);
    border: 2px solid var(--sl-color-primary-500);
}

.playerIconAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamMons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: end;
}