.poketable {
    overflow-y: scroll;
    padding-left: 70px;
}

table {
    border-collapse:collapse;
    /* border-spacing: 8px; */
}

thead {
    font-weight: bold;
}
thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: hsl(240, 5.9%, 11%); /* Match the header background */
  }

tr {
    border: solid;
    border-width: 0px 0;
}

td {
    padding: 8px 4px;
}

.stat {
    text-align: center;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}