table {
    border-collapse: collapse;
}

tr {
    border: solid;
    border-width: 1px 0;
}

td {
    padding: 16px;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}